*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
    text-align: center;
    color: #d32467;
}

.contact-us{
    position: relative;
    width: 100%;
    padding: 5em 3em 2em;
}

.contact-us .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contact-us .title h2{
    font-weight: 700;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact{
    padding: 2em;
    box-shadow: 0 0.15em 2.2em rgba(0,0,0,0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 0.85em;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
    width: 50%;
}

.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    font-weight: 500;
}

.inputBox input{
    padding: 0.75em;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 0.75em;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 0.75em;
}

.inputBox input[type="submit"]{
    background: #d32467;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-size: 500;
    cursor: pointer;
    padding: 1em;
}

.info{
    background: #0e3959;

}

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 0.75em;

}

.info .infoBox div span{
    min-width: 2em;
    height: 2em;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
}

.sci{
    margin-top: 2em;
    display: flex;
}

.sci li{
    list-style: none;
    margin-right: 1em;
}

.sci li a{
    color: #fff;
    font-size: 2rem;
    color: #ccc;
}

.sci li a:hover{
    color: #fff;

}

.map{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/* Media queries */

@media (max-width: 991px){
    body{
        margin: 0;
        padding: 0;
    }

    .contact-us{
        padding: 0.5em;
        padding-top: 3.5em;
    }
    
    .contact{
        padding: 1em;
    }

    .box{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox{
        width: 100%;
    }

    .map{
        min-height: 300px;
        padding: 0;
    }
}

/* Speaker */

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sci-1{
    justify-content: center;
}

.inner{
    max-width: 1400px;
    margin: 0 auto;
}

.team-wrap h6, .team-wrap span{
    color: #01036f;
}

/* Our speakers */

img{
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;  
    text-align: center;
    justify-content: center;
    align-items: center;
}

.heading{
    width: 100%;
    padding-top: 80px;
}

.heading h2{
    font-size: 40px;
}

.heading p{
    font-size: 25px;
}

.team-wrap{
    width: 25%;
    margin-top: 120px;
}

.team-img img{
    -webkit-transition: all .2s ease-in-out;
    overflow: hidden;
    width: 100%;
}

.team-member, .team-img{
    position: relative;
    overflow: hidden;
}

.team-title{
    margin: 30px 0 7px;
    font-size: 20px;

}

.overlay{
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
}

.team-details{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5%;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
}

.team-details p{
    color: #fff;
}

.team-img:hover .team-details{
    opacity: 1;
    margin-top: -5px;
}

.team-img:hover .overlay{
    opacity: 1;
}

.socials a{
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: transparent;
}

.socials span{
    line-height: 37px;
    color: #616161;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.team-details .socials span{
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
}

.socials a:hover span{
    color: rgba(17,13,13);
    background-color: #355c7d;
}

@media(max-width: 768px){
    .main-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-wrap{
        width: 90%;
        margin-top: 75px;
    }
}

